@using ICTransportDemo.DataContract;
@using ICTransportDemo;

@{
    ViewData["Title"] = "Home Page";
    List<CUSTOMER_DETAIL> detail;
    CUSTOMER_DETAIL cus_detail = new CUSTOMER_DETAIL();
    VEHICLE_DETAIL vehicle_show = new VEHICLE_DETAIL();
    JOBHEADER job_show = new JOBHEADER();
}
@{
    bool showModal = ViewBag.ShowModal != null && (bool)ViewBag.ShowModal;
    if (ViewBag.cus_detail != null)
    {
        cus_detail = ViewBag.cus_detail;
    }
   
}
@model List<CUSTOMER_DETAIL>
<header>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.css">
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</header>

<!-- Modal HTML -->


<!-- JavaScript to show the modal -->



<div class="container-fluid">
    <div class="row shadow mb-3">
        <div class="col-sm-2 rounded-1 " style="background-color:#86C8FF">
     
                <div class="accordion accordion-flush mt-1 " id="accordionFlushExample">
                    <div class="accordion-item rounded-2 shadow">
                        <h2 class="accordion-header" id="flush-headingOne">
                            <button id="trigcollap" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                                รายการทะเบียน
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

                            <div class="accordion-body" >
                                <ul id="lisen-list">

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        <div class="col-sm-10 rounded-1" style="background-color : white">
            <div class="row align-content-center rounded-1" style="height:50px; background-color:#B8DEFD">

                <div class="col-6 ">
                    <label class=" d-flex justify-content-end "></label>
                </div>
                <div class="col-6">

                    <div class="row container">

                        <div class="col d-flex justify-content-end">
                            <div class="form-floating"></div>
                            <input class="form-control w-50" id="company" type="text" name="companyname" placeholder="ชื่อบริษัท" />
                        </div>
                        <div class="col-1">
                            <button class="btn btn-outline-secondary" onclick="search(company)" id="button-addon2">ค้นหา</button>
                        </div>


                    </div>


                </div>

            </div>
            <div id="getbyid">

            </div>
           
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header shadow" style="background : lightblue">
                <h5 class="modal-title" id="exampleModalLabel">กรุณาเลือกรายการที่ต้องการ</h5>
            </div>
            <div id="mdtail" class="modal-body w-100 h-50 ScrollBar">

            </div>
        </div>
    </div>
</div>

<style>

    tbody tr {
        cursor: pointer;
    }

    label {
        font-family: Serif;
    }
</style>
@section scripts{
    <script>
        $(document).ready(function () {
            // $('#myModal').modal('show');
        });

        function trigger() {
            $("#trigcollap").attr('aria-expanded', 'true');
            $("#trigcollap").removeClass('collapsed');
            $("#flush-collapseOne").removeClass('collapse');
            $("#flush-collapseOne").addClass('collapsing');
            $("#flush-collapseOne").removeClass('collapsing');
            $("#flush-collapseOne").addClass('show');
        }

        function search() {
            let com = $('#company').val();
            var mod = {
                companyname: com
            }
            $.get('@Url.Action("Search","Home")', mod, function (res) {
                //console.log(res.length);

                if (res) {
                    //console.log(res);
                    if (res.length > 1) {
                        $('#mdtail').append(res);                        
                        $('#myModal').modal('show');
                    }
                    else {
                        console.log(res[0].vehicleCus[0].customerid + ' : ' + res[0].vehicleCus[0].license_no);
                        for (var i = 0; i < res[0].vehicleCus.length; i++) {
                            var defaultCusId = res[0].vehicleCus[i].customerid;
                            var defaultLicen = res[0].vehicleCus[i].license_no;
                            var defaultCusId_send = "'" + res[0].vehicleCus[i].customerid + "'";
                            var defaultLicen_send = "'" + res[0].vehicleCus[i].license_no + "'";
                            $('#lisen-list').append('<li> <a href="#" onclick="SelectLisen(' + defaultCusId_send + ',' + defaultLicen_send + ')" >' + defaultLicen + '</a></li>');
                            //console.log(listItem);
                        }
                        SelectLisen(defaultCusId, defaultLicen);
                        trigger();
                        //console.log(res);
                    }
                } else {
                    console.log("fail");
                }
            }).done(function (res) {

            });

        }

        function SelectLisen(customer_id, lisenno) {
            var mod = {
                cus_id: customer_id,
                lisen: lisenno
            }
            console.log(mod)
            $.get('@Url.Action("SelectLisen","Home")', mod, function (res) {
                $('#myModal').modal('hide');
                //console.log(res)
                if (!undefined) {
                    $('#getbyid').html(res);
                    $('#mdtail').html('');
                    trigger();
                    console.log("success");
                } else {
                    console.log("fail");
                }
            }).done(function (res) {

            });

            $.get('@Url.Action("GetLisenList","Home")', mod, function (getd) {
                $('#myModal').modal('hide');
                $('#lisen-list').html('');
                //console.log('getd : ' + getd[0].customerid)
                for (var i = 0; i < getd.length; i++) {
                    var defaultCusId = getd[i].customerid;
                    var defaultLicen = getd[i].license_no;
                    var defaultCusId_send = "'" + getd[i].customerid + "'";
                    var defaultLicen_send = "'" + getd[i].license_no + "'";                    
                    $('#lisen-list').append('<li> <a href="#" onclick="SelectLisen(' + defaultCusId_send + ',' + defaultLicen_send + ')" >' + defaultLicen + '</a></li>');
                    //console.log(listItem);
                }
                if (!undefined) {
                    //$('#getbyid').html(res);
                    $('#mdtail').html('');
                    trigger();
                    console.log("success");
                } else {
                    console.log("fail");
                }
            }).done(function (getd) {

            });
        }

    </script>
}
